* {
    margin: 0;
    
}
@media screen and (max-width: 479px) {
    .app{        
        /* position:relative; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* width: 100vw; */
    }
}